<bienvenido-component></bienvenido-component>
<div id="vContent" class="marco" #vContent>
  <div class="contenido">
    <app-loader></app-loader>
    <nav_principal_inside_app class="nav_class col-12"></nav_principal_inside_app>
    <main class="contenidoPagina">
      <div class="listas_ps revanecer">
        <div class="lista-div lista-divNoFlex row">

					<h4>estado de movimientos financieros</h4>
          
          <div class="col-12" style="padding: 0;">
            <div class="col-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
              <a class="btn btnGuardar btnRow btnBlueHead bg-blue-600">
                <i class="fa-solid fa-rotate" style="margin-left: 5px;"></i>&nbsp;{{'list_updt' | translate}}
              </a>
            </div>
            <div class="col-12 col-sm-9 col-md-9 col-lg-10 col-xl-10 col-xxl-10"></div>
          </div>

          <p-tabs value="0" scrollable>
            <p-tablist>
              <p-tab value="0">cajas</p-tab>
              <p-tab value="1">cuentas bancarias</p-tab>
              <p-tab value="2">monederos electr&oacute;nicos</p-tab>
              <p-tab value="3">{{'ter_cli' | translate}}</p-tab>
              <p-tab value="4">{{'deudors' | translate}}</p-tab>
              <p-tab value="5">{{'ter_prv' | translate}}</p-tab>
              <p-tab value="6">{{'acreedors' | translate}}</p-tab>
            </p-tablist>
            <p-tabpanels>
              <p-tabpanel value="0">
                <fnzs_reportes_estado_movimientos_financieros_cajas></fnzs_reportes_estado_movimientos_financieros_cajas>
              </p-tabpanel>
              <p-tabpanel value="1">
                <fnzs_reportes_estado_movimientos_financieros_cuentas_bank></fnzs_reportes_estado_movimientos_financieros_cuentas_bank>
              </p-tabpanel>
              <p-tabpanel value="2">
                <fnzs_reportes_estado_movimientos_financieros_moned_elect></fnzs_reportes_estado_movimientos_financieros_moned_elect>
              </p-tabpanel>
              <p-tabpanel value="3">
                <fnzs_reportes_estado_movimientos_financieros_cliente></fnzs_reportes_estado_movimientos_financieros_cliente>
              </p-tabpanel>
              <p-tabpanel value="4">
                <fnzs_reportes_estado_movimientos_financieros_deudor></fnzs_reportes_estado_movimientos_financieros_deudor>
              </p-tabpanel>
              <p-tabpanel value="5">
                <fnzs_reportes_estado_movimientos_financieros_proveedor></fnzs_reportes_estado_movimientos_financieros_proveedor>
              </p-tabpanel>
              <p-tabpanel value="6">
                <fnzs_reportes_estado_movimientos_financieros_acree></fnzs_reportes_estado_movimientos_financieros_acree>
              </p-tabpanel>
            </p-tabpanels>
        	</p-tabs>
        </div>
      </div>
    </main>
    <app-footer-inside></app-footer-inside>
  </div>
</div>
