<p-table #prorratList [value]="arrayProrrateos"
  [globalFilterFields]="['token_prorrateo','folio_prorrateo','folio_compra','fecha_prorrateo']" [paginator]="true"
  [rows]="10" [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[10,20,30,50,100]">
  <ng-template #caption>
    <div class="flex" style="display: flex!important;justify-content: end;align-items: center;flex-wrap: wrap;flex-direction: row!important;align-content: center;" ngbDropdown>
      <a class="btn btn_extend" [ngClass]="indicadorProrrateos == 'hoy' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="verProrrateosCompras('hoy');">
        <i class="fa-solid fa-calendar-days"></i>&nbsp;Hoy
      </a>
      <a class="btn btn_extend" [ngClass]="indicadorProrrateos == 'esta_semana' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="verProrrateosCompras('esta_semana');">
        <i class="fa-solid fa-calendar-days"></i>&nbsp;Esta semana
      </a>
      <a class="btn btn_extend" [ngClass]="indicadorProrrateos == 'este_mes' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="verProrrateosCompras('este_mes');">
        <i class="fa-solid fa-calendar-days"></i>&nbsp;Este mes
      </a>
      <a class="btn btn_extend" [ngClass]="indicadorProrrateos == 'mes_anterior' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="verProrrateosCompras('mes_anterior');">
        <i class="fa-solid fa-arrow-left"></i>&nbsp;mes anterior
      </a>
      <a id="menuDropBuyRangos" class="btn btn_extend" [ngClass]="indicadorProrrateos == 'otras_fechas' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" ngbDropdownToggle>
        <i class="fa-solid fa-list-ul"></i>&nbsp;otras fechas
      </a>
      <div class="dropdown-menu-end menu-despegable" ngbDropdownMenu="menuDropBuyRangos" style="padding: 0!important; margin: 0!important; width: max-content!important; max-height: 400px; overflow-y: auto;">
        <div class="col-12 input-group">
          <label for="buy_otras_fechas" class="activeInput">Periodo de fechas</label>
          <p-datepicker id="buy_otras_fechas" name="buy_otras_fechas" [(ngModel)]="rangoPeriodoProrrateos" appendTo="body" dateFormat="dd/mm/yy" 
            placeholder="dd/mm/aaaa" selectionMode="range" (onSelect)="verProrrateosCompras('otras_fechas');" />
        </div>
      </div>
      <a class="btn btn_extend" [ngClass]="indicadorProrrateos == 'all_partidas' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="verProrrateosCompras('all_partidas');">
        <i class="fa-solid fa-list-ul"></i>&nbsp;todos los registros
      </a>
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
        <input pInputText type="text" (input)="prorratList.filterGlobal($event.target.value, 'contains')" placeholder="{{'bus_car' | translate}}" />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th class="ultimo"></th>
      <th pSortableColumn="folio_prorrateo">folio de prorrateo&nbsp;<p-sortIcon field="folio_prorrateo" /></th>
      <th pSortableColumn="folio_compra">folio de compra&nbsp;<p-sortIcon field="folio_compra" /></th>
      <th pSortableColumn="fecha_prorrateo">fecha de registro&nbsp;<p-sortIcon field="fecha_prorrateo" /></th>
    </tr>
  </ng-template>
  <ng-template #body let-prorratList>
    <tr>
      <td>
        <a class="btn bg-blue-600" (click)="infoProrrateo(prorratList.token_prorrateo);">
          <i class="fa-solid fa-info"></i></a>
      </td>
      <td>{{prorratList.folio_prorrateo}}</td>
      <td>{{prorratList.folio_compra}}</td>
      <td>{{prorratList.fecha_prorrateo}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="4" class="text-center py-4">
        <i class="fa-solid fa-box-open" style="font-size: 2rem; color: #6b7280;"></i>
        <p class="mt-2" style="font-size: 1.2rem; color: #374151;">
          {{'no_rows' | translate}}
        </p>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog header="Prorrateos de compras" [(visible)]="verDialogoProrrateo" [attr.position]="'bottom'" [modal]="true"
  [style]="{ width: '50rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
  @if (verDialogoProrrateo) {
    <app_egresos_compras_prorrateos_info [tokenProrrateo]="tokenComprasProrrateo"></app_egresos_compras_prorrateos_info>
  }
</p-dialog>