<p-table #oppendientes id="tabla_order_pago_list_pendientes" [value]="ordenes_pago_lista_pendientes"
  [globalFilterFields]="searchPagoPendientes" showGridlines [resizableColumns]="true" [paginator]="true"
  [rows]="10" [tableStyle]="{ 'min-width': '50rem' }" [rowsPerPageOptions]="[10,20,30,50,100]">
  <ng-template #caption>
    <div class="flex" style="display: flex!important;justify-content: end;align-items: center;flex-wrap: wrap;flex-direction: row!important;align-content: center;" ngbDropdown>
      <a class="btn btn_extend" [ngClass]="indicadorOrdPend == 'hoy' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="ver_ordenes_pago_pendientes('hoy');">
        <i class="fa-solid fa-calendar-days"></i>&nbsp;Hoy
      </a>
      <a class="btn btn_extend" [ngClass]="indicadorOrdPend == 'esta_semana' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="ver_ordenes_pago_pendientes('esta_semana');">
        <i class="fa-solid fa-calendar-days"></i>&nbsp;Esta semana
      </a>
      <a class="btn btn_extend" [ngClass]="indicadorOrdPend == 'este_mes' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="ver_ordenes_pago_pendientes('este_mes');">
        <i class="fa-solid fa-calendar-days"></i>&nbsp;Este mes
      </a>
      <a class="btn btn_extend" [ngClass]="indicadorOrdPend == 'mes_anterior' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="ver_ordenes_pago_pendientes('mes_anterior');">
        <i class="fa-solid fa-arrow-left"></i>&nbsp;mes anterior
      </a>
      <a id="menuDropOPPendientes" class="btn btn_extend" [ngClass]="indicadorOrdPend == 'otras_fechas' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" ngbDropdownToggle>
        <i class="fa-solid fa-list-ul"></i>&nbsp;otras fechas
      </a>
      <div class="dropdown-menu-end menu-despegable" ngbDropdownMenu="menuDropOPPendientes" style="padding: 0!important; margin: 0!important; width: max-content!important; max-height: 400px; overflow-y: auto;">
        <div class="col-12 input-group">
          <label for="pag_pend_otras_fechas" class="activeInput">Periodo de fechas</label>
          <p-datepicker id="pag_pend_otras_fechas" name="pag_pend_otras_fechas" [(ngModel)]="rangoPeriodoPendOrd" appendTo="body" dateFormat="dd/mm/yy"
            placeholder="dd/mm/aaaa" selectionMode="range" (onSelect)="ver_ordenes_pago_pendientes('otras_fechas');" />
        </div>
      </div>
      <a class="btn btn_extend" [ngClass]="indicadorOrdPend == 'all_partidas' ? ' bg-indigo-600': ' bg-blue-600'" style="margin-right:5px!important;" (click)="ver_ordenes_pago_pendientes('all_partidas');">
        <i class="fa-solid fa-list-ul"></i>&nbsp;todos los registros
      </a>
      <a class="btn btn_extend bg-green-600 descarga_lista_excel" style="height: 25px !important;" (click)="descarga_excel_lpend();">
        descargar&nbsp;<i class="fa-solid fa-file-excel"></i>
      </a>
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
        <input pInputText type="text" (input)="oppendientes.filterGlobal($event.target.value, 'contains')" placeholder="{{'bus_car' | translate}}" />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th rowspan="2" class="ultimo"></th>
      <th rowspan="2" class="ultimo"></th>
      <th rowspan="2" class="ultimo"></th>
      <th rowspan="2" pResizableColumn pSortableColumn="folio_ordenPago">{{'folio' | translate}}&nbsp;<p-sortIcon field="folio_ordenPago" /></th>
      <th rowspan="2" pResizableColumn pSortableColumn="fecha_contabilizacion_orden_pago">{{'fecha_cont_pay_order' | translate}}&nbsp;<p-sortIcon field="fecha_contabilizacion_orden_pago" /></th>
      <th rowspan="2" pResizableColumn pSortableColumn="factura_relacionada_string">{{'doc_ant' | translate}}&nbsp;<p-sortIcon field="factura_relacionada_string" /></th>
      <th rowspan="2" pResizableColumn pSortableColumn="fecha_contabilizacion_doc_anterior">{{'fecha_cont_doc_ant' | translate}}&nbsp;<p-sortIcon field="fecha_contabilizacion_doc_anterior" /></th>
      <th colspan="3" pResizableColumn pSortableColumn="orden_emisor_personal_folio">{{'ter_cero' | translate}}&nbsp;<p-sortIcon field="orden_emisor_personal_folio" /></th>
      <th rowspan="2" pResizableColumn pSortableColumn="orden_emisor_emp">{{'company_name' | translate}}&nbsp;<p-sortIcon field="orden_emisor_emp" /></th>
      <th rowspan="2" pResizableColumn pSortableColumn="pago_anticipado">{{'prepayment' | translate}}&nbsp;<p-sortIcon field="pago_anticipado" /></th>
      <th rowspan="2" style="padding-left: 5px;padding-right: 5px;" pResizableColumn pSortableColumn="importe_total_inicial">{{'monto_total' | translate}}&nbsp;<p-sortIcon field="importe_total_inicial" /></th>
      <th rowspan="2" style="padding-left: 5px;padding-right: 5px;" pResizableColumn pSortableColumn="importe_autorizado_inicial_format">{{'monto_total_autorizado' | translate}}&nbsp;<p-sortIcon field="importe_autorizado_inicial_format" /></th>
      <th rowspan="2" style="padding-left: 5px;padding-right: 5px;" pResizableColumn pSortableColumn="importe_autorizado_final">{{'monto_total_convertido' | translate}}&nbsp;<p-sortIcon field="importe_autorizado_final" /></th>
      <th rowspan="2" style="padding-left: 5px;padding-right: 5px;" pResizableColumn pSortableColumn="pagos_realizados_format">{{'payed' | translate}}&nbsp;<p-sortIcon field="pagos_realizados_format" /></th>
      <th rowspan="2" style="padding-left: 5px;padding-right: 5px;" pResizableColumn pSortableColumn="debe_format">{{'debe' | translate}}&nbsp;<p-sortIcon field="debe_format" /></th>
    </tr>
    <tr>
      <th pResizableColumn pSortableColumn="orden_emisor_personal_folio">{{'folio' | translate}}&nbsp;<p-sortIcon field="orden_emisor_personal_folio" /></th>
      <th pResizableColumn pSortableColumn="orden_emisor_personal_nombre">{{'name' | translate}}&nbsp;<p-sortIcon field="orden_emisor_personal_nombre" /></th>
      <th pResizableColumn pSortableColumn="orden_emisor_personal_nombre_comercial">{{'comercial_name' | translate}}&nbsp;<p-sortIcon field="orden_emisor_personal_nombre_comercial" /></th>
    </tr>
  </ng-template>
  <ng-template #body let-pago_ord_item>
    <tr>
      <td class="td_selector">
        <div class="form-check radio_check">
          <input class="form-check-input" type="checkbox" [ngClass]="pago_ord_item.orden_bloqueada ? 'disabled' : ''" [attr.disabled]="pago_ord_item.orden_bloqueada ? true : null"
            [attr.aria-disabled]="pago_ord_item.orden_bloqueada ? true : null" name="op_pend_folio" [checked]="pago_ord_item.autorizacion_proceso" (click)="seleccionMasivaAuth(pago_ord_item.token_ordenPago,$event.target);">
        </div>
      </td>
      <td class="ultimo">
        <a class="btn" [ngClass]="!pago_ord_item.orden_bloqueada ? (pago_ord_item.autorizacion_pay ? 'text-bg-danger rounded-3' : 'text-bg-success rounded-3') : 'disabled'"
          [attr.disabled]="pago_ord_item.orden_bloqueada ? true : null" [attr.aria-disabled]="pago_ord_item.orden_bloqueada ? true : null" (click)="autorizar_orden_pago(pago_ord_item)">
          <i class="fa-solid"
            [ngClass]="pago_ord_item.autorizacion_pay ? 'fa-file-circle-xmark' : 'fa-file-shield'"></i>
        </a>
      </td>
      <td class="ultimo">
        <a class="btn bg-blue-600" [ngSwitch]="pago_ord_item.factura_relacionada_typo" [class.disabled]="pago_ord_item.factura_relacionada_typo === '---'" [attr.disabled]="pago_ord_item.factura_relacionada_typo === '---' ? true : null"
          [attr.aria-disabled]="pago_ord_item.factura_relacionada_typo === '---' ? 'true' : null" (click)="desglose_facturaSeleccionada(pago_ord_item)">
          <i class="fa-solid fa-info"></i>
        </a>
      </td>
      <td>{{pago_ord_item.folio_ordenPago}}</td>
      <td>
        @if (pago_ord_item.fecha_contabilizacion_orden_pago != '') {
          {{pago_ord_item.fecha_contabilizacion_orden_pago | date: 'dd/MM/yyyy'}}
        }
      </td>
      <td>{{pago_ord_item.factura_relacionada_string}}</td>
      <td>
        @if (pago_ord_item.fecha_contabilizacion_doc_anterior != '') {
          {{pago_ord_item.fecha_contabilizacion_doc_anterior | date: 'dd/MM/yyyy'}}
        }
      </td>
      <td class="name">{{pago_ord_item.orden_emisor_personal_folio}}</td>
      <td class="name">{{pago_ord_item.orden_emisor_personal_nombre}}</td>
      <td class="name">{{pago_ord_item.orden_emisor_personal_nombre_comercial}}</td>
      <td>{{pago_ord_item.orden_emisor_emp}}</td>
      <td class="td_importes">{{pago_ord_item.pago_anticipado}}</td>
      <td class="td_importes">{{pago_ord_item.importe_total_inicial}}</td>
      <td class="td_importes">{{pago_ord_item.importe_autorizado_inicial_format}}</td>
      <td class="td_importes">{{pago_ord_item.importe_autorizado_final}}</td>
      <td class="td_importes">{{pago_ord_item.pagos_realizados_format}}</td>
      <td class="td_importes">{{pago_ord_item.debe_format}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="17" class="text-center py-4">
        <i class="fa-solid fa-box-open" style="font-size: 2rem; color: #6b7280;"></i>
        <p class="mt-2" style="font-size: 1.2rem; color: #374151;">
          {{'no_rows' | translate}}
        </p>
      </td>
    </tr>
  </ng-template>
</p-table>

@if (factura_relacionada_token != '' && factura_relacionada_typo != '') {
  <fnzs_op_detalle_factura_informative [factura_token]="factura_relacionada_token" [factura_typo]="factura_relacionada_typo"></fnzs_op_detalle_factura_informative>
}
