<bienvenido-component></bienvenido-component>
<div id="vContent" class="marco" #vContent>
	<div class="contenido"><app-loader></app-loader>
		<nav_principal_inside_app class="nav_class col-12"></nav_principal_inside_app>
		<div class="contenidoPagina">
			<div class="listas_ps revanecer">
				<div id="listaPedido" class="fmAlta">
						<h4>Alta de pedidos</h4>
						<form id="formListaPedido" class="formListaPedido" name="formListaPedido" method="post" enctype="multipart/form-data">
		
						</form>
				</div>
			</div>
		</div>
	</div>
</div>

