<div class="col">
  <p class="grey-text text-darken-3 lighten-3">De antemano agradecemos tu interés en contactarnos. Por favor deja tus datos a continuación y en breve un representante de nosotros se pondrá en contacto.</p>
  <div class="input-group col-12">
    <label for="verif_rfc" id="lblverif_rfc" class="activeInput" style="color: white!important;">Nombre</label>
    <input class="verif_rfc validate" name="verif_rfc" type="text" id="rfc_viewPf">
  </div>
  <div class="input-group col-12">
    <label for="verif_rfc" id="lblverif_rfc" class="activeInput" style="color: white!important;">Email</label>
    <input class="verif_rfc validate" name="verif_rfc" type="text" id="rfc_viewPf">
  </div>
  <div class="input-group col-12">
    <label for="verif_rfc" id="lblverif_rfc" class="activeInput" style="color: white!important;">Telefono</label>
    <input class="verif_rfc validate" name="verif_rfc" type="text" id="rfc_viewPf">
  </div>
  <div class="input-group col-12">
    <label for="verif_rfc" id="lblverif_rfc" class="activeInput" style="color: white!important;">Comentarios</label>
    <textarea name="comi_large_observ" id="comi_large_observ" class="validate"></textarea>
  </div>
  <div class="col-12" style="display: flex;justify-content: end;">
    <button class="btn btn_extend text-bg-success rounded-3" type="submit" name="registraPF" id="registraPF" disabled>
      <!--[disabled]="modelProd.genero == '' || modelProd.marca == '' || modelProd.clasificacion == '' || modelProd.stock_max < modelProd.stock_min"-->
      <i class="fa-solid fa-floppy-disk" style="height: 15px!important;line-height: 15px!important;width: 15px!important;font-size: small!important;"></i>&nbsp;Registrarse</button>
  </div>
</div>
