.card_indicador_main .card-content{ padding: 10px!important; }
.card_indicador_main .card-content p.header{ font-size: medium;text-align: center;font-weight: bold; }
.card_indicador_main .card-content p.body{ font-size: small;text-align: center; }