.breadcrumb:before{
	color: #353535;
}

.rowOption{
	padding: 0;
}

.rowCabecera{
	padding: 10px!important;
}

.row-main{
	padding: 10px!important;
	margin: 0!important;
}

.contentCompanies{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: calc(100% - 80px);
}

.contentCompanies div.card-companies{
	width:250px;
	height:270px;
	margin:5px!important;
	border-radius:25px;
	box-shadow: 1px 1px 10px #353535;
}

.contentCompanies div.card-companies div.card-image{
	width:250px;
	height:250px;
	padding:50px;
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
	z-index:1;
}

.contentCompanies div.card-companies div.card-image img{
	width:100%;
}

.contentCompanies div.card-companies div.card-content{
	height:70px;
	padding:0;
	z-index:999;
	position:relative
}

.contentCompanies div.card-companies div.card-content h6.card-title{
	margin:0;
	font-size:15px;
	text-align:center;
	height: 70px;
	margin-top:-50px;
	font-weight:bold;
}

.contentCompanies div.card-companies:hover,
.contentCompanies div.card-company-active{
	box-shadow: 1px 1px 10px #020a5e;
}

.contentCompanies div.card-companies:hover div.card-content h6.card-title,
.contentCompanies div.card-company-active div.card-content h6.card-title{
	background-color: #020a5e!important;
	border-radius: 0 0 25px 25px!important;
	color: #fff!important;
}

.footerCompanies{
	height:40px;
	padding: 0;
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
}

.footerCompanies button{
	font-family: Arial, FontAwesome;
}

.card-main .listOptions{
  padding: 0!important;
}

.card-main .listOptions .collection{
  margin: 0;
  border: none;
  border-right: 1px solid #e0e0e0;
	background-color: transparent!important;
	height: auto!important;
}

.card-main .listOptions ul.collection li.collection-item{
  padding: 0;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent!important;
	border: none!important;
}

.card-main .listOptions .collection div.collect-item-div{
	padding: 5px!important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-main .listOptions .collection a{
	margin: 0;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	padding: 0;
	background-color: #e7e7ea;
	color: #020a5e;
	box-shadow: 1px 1px 5px #353535;
	font-family: ubuntu,FontAwesome;
	text-align: center;
}

.card-main .listOptions .collection a.active,
.card-main .listOptions .collection a:hover{
	background-color: #020a5e!important;
	color: #e7e7ea!important;
}

div.buttonCompanies{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div.buttonCompanies a{
  width: 25px;
	height: 25px;
	border-radius:50%!important;
}

div.buttonCompanies a.btnDelete{
  background-color:#d32f2f!important;
}

a.btnDisabled,
a:disabled{
	background-color: #686868!important;
}

div.buttonCompanies a i{
  width: 25px!important;
	height:25px!important;
	line-height:25px!important;
	font-size: 15px;
	text-align: center;
}

div.buttonCompanies div.input-field{
  width: calc(100% - 70px);
}

div.buttonCompanies div.input-field input.rfcInput{
  text-transform: uppercase!important;
}

ul.tabs li a{
	color: #353535;
}

table tbody tr td.ultimo input,
table tbody tr td.ultimo select,
table tbody tr td.ultimo textarea{
  width: 100%;
}

.tabs-main{
	padding: 0;
}

.tabs-main ul.tabs{
	border-radius: 0 8px 0 0;
	height: 30px;
}

.tabs-main ul.tabs li{
	height: 30px;
}

.tabs-main ul.tabs li a{
	height: 30px;
	line-height: 30px;
}

.tabs-content{
	padding: 0;
	margin-top: 10px;
}

@media screen and (max-width: 600px) {
	table.tableXmlSoli{
		display: inline-table!important;
	}

	table thead tr{
		padding: 0;
	}

	table thead tr th.ultimo,
	table tbody tr td.ultimo{
	    width: 40px;
			padding: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
	}

	table tfoot tr td#emptyTfootTd{
		display: none;
	}
}
