<bienvenido-component></bienvenido-component>
<div id="vContent" class="marco" #vContent>
	<div class="contenido"><app-loader></app-loader>
		<nav_principal_inside_app class="nav_class col-12"></nav_principal_inside_app>
		<div class="contenidoPagina">
			<div class="listas_ps revanecer">
				<div id="listaPedido" class="lista-div">
					<h4>Catalogo de pedidos</h4>
					<form id="formCatPedido" class="formCatPedido" name="formCatPedido" method="post" enctype="multipart/form-data">
			
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

