<bienvenido-component></bienvenido-component>
<div id="vContent" class="marco" #vContent>
	<div class="contenido"><app-loader></app-loader>
		<nav_principal_inside_app class="nav_class col-12"></nav_principal_inside_app>
		<main class="contenidoPagina">
			<div class="listas_ps revanecer">
				<div id="listaProveedores" class="lista-div lista-divNoFlex">			
					<h4 class="col-12">Notas de debito del proveedor</h4>
				</div>
			</div>
		</main>
		<app-footer-inside></app-footer-inside>
	</div>
</div>