p.ant_authorizado{
  background-color: white !important;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: ubuntu, FontAwesome;
  z-index: 0;
  font-size: smaller;
  text-transform: inherit;
  font-family: "roboto_cr" !important;
  cursor: auto!important;
}