ul.tree_comi{border: none;}
ul.tree_comi li{padding: 5px;padding-left: 0 !important;background-color: transparent !important;border: none !important;min-height: 30px;}
ul.tree_comi li.root{display: flex;flex-wrap: wrap;flex-direction: column;}

ul.tree_comi li div.contenido_level{
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0!important;
}

ul.tree_comi li p{margin: 0;color:#353535!important;height: 20px;line-height: 20px;}
ul.tree_comi li p.tree_nivel_dos{background-color: #e1f5fe!important;}

ul.tree_comi li div.contenido_level i{
  rotate: 90deg;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.tree_comi li div.contenido_level p.tree_nivel_dos_list{background-color: #039be5 !important;color: white !important;}
ul.tree_comi li div.contenido_level p.tree_nivel_dos_vhum{background-color: #fff9c4!important;}
ul.tree_comi li div.contenido_level p.tree_nivel_dos_egre{background-color: #c62828 !important;color: white !important;}
ul.tree_comi li div.contenido_level p.tree_nivel_ordp_fase1{background-color: #546e7a !important;color: white !important;}
ul.tree_comi li div.contenido_level p.tree_nivel_ordp_fase2{background-color: #455a64 !important;color: white !important;}
ul.tree_comi li div.contenido_level p.tree_nivel_ordp_fase3{background-color: #37474f !important;color: white !important;}


ul.tree_comi li ul.level_inside{margin: 0;margin-left: 20px;}
ul.tree_comi li ul.level_inside li{display: flex;flex-wrap: wrap;justify-content: flex-start;}