.fase_uno_nac{padding: 0!important;padding-right: 2px!important;}
.fase_uno_ext{padding: 0!important;padding-left: 2px!important;}
.card_fase_uno{
  box-shadow: none!important;
  background-color: dodgerblue;
  background-color: darkgoldenrod;
  height: 100%;
  min-height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card_fase_uno .seccion_logo_tipo{height: 100%;display: flex;justify-content: center;align-items: center;align-content: center;}
.card_fase_uno .seccion_logo_tipo img{width: 100%!important;}
.card_fase_uno .seccion_logo_tipo i{width: 100%!important;text-align: center;font-size: 10vh;}
.card_fase_uno .seccion_form{background-color: #f5f5f5;height: 100%;min-height: 230px;margin: 0;border-radius: 0 8px 8px 0;}
.card_fase_uno .seccion_form .header_text{font-family: 'modernsans';font-weight: bold;text-transform: capitalize;text-align: left;}

.card_fase_uno .seccion_form .chip:hover,.card_fase_uno .seccion_form .list_opciones li{height: 25px!important;padding: 0;padding-left: 5px;font-family: lato;font-size: medium;}
.card_fase_uno .seccion_form .chip:hover,.card_fase_uno .seccion_form .active_chip{background-color: darkgoldenrod!important;color: white!important;}
.card_fase_uno .seccion_form .formulario_verificacion{padding: 0!important;margin-top: 30px!important;}
.fase_uno_nac .seccion_form .formulario_verificacion{padding: 0!important;margin-top: 65px!important;}

@media screen and (max-width: 600px) {
  .fase_uno_nac{padding: 0!important;padding-right: 0!important;}
  .fase_uno_ext{padding: 0!important;padding-left: 0!important;margin-top: 5px!important;}
  .card_fase_uno{box-shadow: none!important;background-color: dodgerblue;background-color: darkgoldenrod;height: 100%;min-height: 230px;display: block;}
  .card_fase_uno .seccion_logo_tipo img{width:50%!important;margin:10px!important;}
  .card_fase_uno .seccion_logo_tipo i{width: 100%!important;text-align: center;font-size: 10vh;margin: 30px!important;}
  .card_fase_uno .seccion_form{border-radius: 0 0 8px 8px;}
  .card_fase_uno .seccion_form .formulario_verificacion{padding: 0!important;margin-top: 5px!important;}
}

span.error{height: 20px;line-height: 20px;width: 100%;border-radius: 5px;background-color: #D32F2F!important;color: #fff!important;padding-left: 1%;padding-right: 1%;}
ul.collection_postales{border-radius: 8px;padding: 0;}
ul.collection_postales li.list-group-item{padding: 5px;color: #353535;font-family: 'roboto_medium';}
ul.collection_postales li.list-group-item div.busqueda h6{padding: 0;margin: 0;height: 30px;line-height: 30px;font-family: 'roboto_bold';}
ul.collection_postales li.list-group-item div.busqueda div.field_buscar{padding: 0;margin: 0;}
ul.collection_postales li.itemFor p{background-color: #1e88e5;margin-bottom: 3px;color: white;padding-left: 3px;border-radius: 25px;cursor: pointer;}
ul.collection_postales li.itemColoniaSeleted{background-color: #353535;color: white;}

div.explain{padding: 0;display: flex;margin: 0;flex-wrap: wrap;justify-content: flex-start;align-items: center;align-content: center;}
div.explain h6{font-size: 11px;text-align: left;color: #353535;white-space: break-spaces !important;}
div.explain h6.title{width: max-content;}
div.explain h6.content{margin: 0;margin-bottom: 2px;font-family: roboto_cr, FontAwesome;width: max-content;}