.seccion-determinacion {
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 14px;
}

.titulo-seccion {
  text-align: center;
  padding: 0 !important;
  border-bottom: 1px solid #333;
  font-size: 16px;
}

.label-item {
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

.monto-item {
  border-bottom: 1px solid #ccc;
  text-align: right;
  padding: 5px;
}

.input-monto {
  width: 100%;
  text-align: right;
}

.subtitulo {
  margin-top: 10px;
  font-weight: bold;
}

.input-small {
  width: 100%;
}
